* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: "flatpack", sans-serif;
}

/* Header  */
#wrapper .header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-color: #333333;
}

#wrapper .header .container {
  display: flex;
  align-items: center;
}

#wrapper .header .container .logo {
  width: 50%;
  margin-top: 28px;
}

#wrapper .header .container .nav {
  width: 50%;
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
}

#wrapper .header .container .nav ul {
  display: flex;
  align-items: center;
}

#wrapper .header .container .nav ul li {
  display: inline;
}

#wrapper .header .container .nav ul li a {
  list-style-type: none;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding-right: 20px;
}

.bold_text {
  font-weight: bold;
}

.yellow_text {
  color: #ffcc33;
}

.mr50 {
  margin-right: 50px;
}

.mr30 {
  margin-right: 30px;
}

/* Banner  */
#wrapper .banner {
  width: 1200px;
  height: 890px;
  margin: 0 auto;
  /* background-image: url(video_bg.jpg); */
  background-color: wheat;
}

#wrapper .banner .container {
  text-align: center;
  padding-top: 300px;
}

.white_text {
  color: white;
}

.big_text {
  font-size: 300%;
}

.mt50 {
  margin-top: 50px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

#wrapper .banner .container .form {
  margin: 0 auto;
  width: 590px;
  height: 90px;
  background-color: #232222;
  display: flex;
  align-items: center;
  padding: 20px;
}

.input1 {
  width: 375px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.btn_sub {
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #f1c232;
  margin-left: 20px;
}

/* Content  */
#wrapper .content {
  width: 1200px;
  height: 730px;
  margin: 0 auto;
  background-color: white;
}

#wrapper .content .container {
  display: flex;
  
}

#wrapper .content .container .left{
    width: 750px;
    
}

#wrapper .content .container .left .item{
    display: flex;
    align-items: center;
    margin-top: 80px;
}



#wrapper .content .container .right{
    width: 450px;
    height: 610px;
    background-color: #ebeaea;
    margin-top: 40px;
}

#wrapper .content .container .right .con{
    padding: 30px;
}

.text{
    margin-left: 50px;
}

.big_text2{
    font-size: 150%;
}

.grey_text2{
    color: #a9a9a9;
}

.mt20{
    margin-top: 20px;
}

.mt25{
    margin-top: 25px;
}

.btn_send{
    width: 390px;
    height: 50px;
    background-color: #7cc576;
    border: none;
    border-radius: 5px;
}

.input{
    width: 390px;
    height: 60px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.medium_text{
    font-size: 125%;
}


/* Footer */
#wrapper .footer {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

#wrapper .footer .container {
  display: flex;
  align-items: center;
}

#wrapper .footer .container .left {
  width: 50%;
  margin-top: 40px;
}

#wrapper .footer .container .right {
  width: 50%;
  margin-top: 40px;
}

#wrapper .footer .container .right .con {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
}

.grey_text {
  color: #aeaeae;
}

#wrapper .footer .container .right ul li a {
  color: #bbbbbb;
  text-align: center;
  padding-left: 20px;
}

.purple_text {
  color: #674397;
}
